name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  check:
    name: All checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - run: git remote set-head origin --auto
      - run: make check NO_TTY=1
